h1{
    color: blue;
}
#table{
    background-color:darkblue;
}
p{
    color: white;
}
#thanks{
    color: green;
    font-size: 120px;
}
h2{
    color: darkblue;
    font-size: 30px;
}
h3{
    font-size: 40px;
}